<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <a href="style.css" type="stylesheet"></a>
    <script></script>
</head>
<body>
    
    <p>Log in to your account</p>
        <input type="text">E-mail</input>
        <input type="text">Password</input>
        <button>Submit</button>
    
    <p>Sign up</p>
    <input type="text">Username</input>
    <input type="text">E-mail</input>
    <input type="text">Password</input>
    <button>Submit</button>
</body>
</html>